<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758379592595-metup8fipaiui1705t8jvdeop6kp2gb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758379592595-metup8fipaiui1705t8jvdeop6kp2gb3</string>
	<key>API_KEY</key>
	<string>AIzaSyCHg_rX0uv3-rBEB4atJI8uB1gNaoFjqEg</string>
	<key>GCM_SENDER_ID</key>
	<string>758379592595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.aws</string>
	<key>PROJECT_ID</key>
	<string>aws-exam-ce900</string>
	<key>STORAGE_BUCKET</key>
	<string>aws-exam-ce900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758379592595:ios:66a8f732077095bd608666</string>
</dict>
</plist>